<?xml version="1.0"?>
<!--
  ~ Copyright (C) Philipp Breitsprecher, Inc - All Rights Reserved
  ~ @project Mage2 GD
  ~ @file module.xml
  ~ @author Philipp Breitsprecher
  ~ @date 18.11.25, 12:35
  ~ @email philippbreitsprecher@gmail.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="FlipDev_ProductOptionsMedia" setup_version="1.3.0">
        <sequence>
            <module name="FlipDev_Core"/>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>